$red: #F44336;
$darken: darken($red);

$cyan: #FFF;
$turquoise: #FFF;
$blue: #FFF;
$purple: #FFF;
$magenta: #FFF;
$pink: #FFF;
$red: #FFF;
$orange: #FFF;
$yellow: #FFF;
$lime: #FFF;
$green: #FFF;
$mint: #FFF;