/* Colour Variables */

$cyan: #00cccc;
$turquoise: #00bcd4;
$blue: #2196f3;
$purple: #673ab7;
$magenta: #9c27b0;
$pink: #e91e63;
$red: #f44336;
$orange: #ff9800;
$yellow: #ffeb3b;
$lime: #cddc39;
$green: #4caf50;
$teal: #009688;

$brown: #52352a;
$grey: #9e9e9e;
$blue-grey: #607d8b;
$black: #000;
$white: #fff;

$red-050: #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;

/* Red */
/* Background */
.ds-red-050,.ds-hover-red-050:hover { background-color: #FFEBEE !important; color: #F44336 !important; }
.ds-red-100,.ds-hover-red-100:hover { background-color: #FFCDD2 !important; color: #E53935 !important; }
.ds-red-200,.ds-hover-red-200:hover { background-color: #EF9A9A !important; color: #D32F2F !important; }
.ds-red-300,.ds-hover-red-300:hover { background-color: #E57373 !important; color: #C62828 !important; }
.ds-red-400,.ds-hover-red-400:hover { background-color: #EF5350 !important; color: #B71C1C !important; }
.ds-red-500,.ds-hover-red-500:hover { background-color: #F44336 !important; color: #FFEBEE !important; }
.ds-red-600,.ds-hover-red-600:hover { background-color: #E53935 !important; color: #FFCDD2 !important; }
.ds-red-700,.ds-hover-red-700:hover { background-color: #D32F2F !important; color: #EF9A9A !important; }
.ds-red-800,.ds-hover-red-800:hover { background-color: #C62828 !important; color: #E57373 !important; }
.ds-red-900,.ds-hover-red-900:hover { background-color: #B71C1C !important; color: #EF5350 !important; }
/* Text */
.ds-text-red-050,.ds-hover-red-050:hover { color: #FFEBEE !important; }
.ds-text-red-100,.ds-hover-red-050:hover { color: #FFCDD2 !important; }
.ds-text-red-200,.ds-hover-red-050:hover { color: #EF9A9A !important; }
.ds-text-red-300,.ds-hover-red-050:hover { color: #E57373 !important; }
.ds-text-red-400,.ds-hover-red-050:hover { color: #EF5350 !important; }
.ds-text-red-500,.ds-hover-red-050:hover { color: #F44336 !important; }
.ds-text-red-600,.ds-hover-red-050:hover { color: #E53935 !important; }
.ds-text-red-700,.ds-hover-red-050:hover { color: #D32F2F !important; }
.ds-text-red-800,.ds-hover-red-050:hover { color: #C62828 !important; }
.ds-text-red-900,.ds-hover-red-050:hover { color: #B71C1C !important; }
/* Border */
.ds-border-red-050,.ds-hover-red-050:hover { border-color: #FFEBEE !important; }
.ds-border-red-100,.ds-hover-red-050:hover { border-color: #FFCDD2 !important; }
.ds-border-red-200,.ds-hover-red-050:hover { border-color: #EF9A9A !important; }
.ds-border-red-300,.ds-hover-red-050:hover { border-color: #E57373 !important; }
.ds-border-red-400,.ds-hover-red-050:hover { border-color: #EF5350 !important; }
.ds-border-red-500,.ds-hover-red-050:hover { border-color: #F44336 !important; }
.ds-border-red-600,.ds-hover-red-050:hover { border-color: #E53935 !important; }
.ds-border-red-700,.ds-hover-red-050:hover { border-color: #D32F2F !important; }
.ds-border-red-800,.ds-hover-red-050:hover { border-color: #C62828 !important; }
.ds-border-red-900,.ds-hover-red-050:hover { border-color: #B71C1C !important; }

/* Pink */
/* Background */
.ds-pink-050,.ds-hover-pink-050:hover { background-color: #FCE4EC !important; color: #E91E63 !important; }
.ds-pink-100,.ds-hover-pink-100:hover { background-color: #F8BBD0 !important; color: #D81B60 !important; }
.ds-pink-200,.ds-hover-pink-200:hover { background-color: #F48FB1 !important; color: #C2185B !important; }
.ds-pink-300,.ds-hover-pink-300:hover { background-color: #F06292 !important; color: #AD1457 !important; }
.ds-pink-400,.ds-hover-pink-400:hover { background-color: #EC407A !important; color: #880E4F !important; }
.ds-pink-500,.ds-hover-pink-500:hover { background-color: #E91E63 !important; color: #FCE4EC !important; }
.ds-pink-600,.ds-hover-pink-600:hover { background-color: #D81B60 !important; color: #F8BBD0 !important; }
.ds-pink-700,.ds-hover-pink-700:hover { background-color: #C2185B !important; color: #F48FB1 !important; }
.ds-pink-800,.ds-hover-pink-800:hover { background-color: #AD1457 !important; color: #F06292 !important; }
.ds-pink-900,.ds-hover-pink-900:hover { background-color: #880E4F !important; color: #EC407A !important; }
/* Text */
.ds-text-pink-050,.ds-hover-pink-050:hover { color: #FCE4EC !important; }
.ds-text-pink-100,.ds-hover-pink-050:hover { color: #F8BBD0 !important; }
.ds-text-pink-200,.ds-hover-pink-050:hover { color: #F48FB1 !important; }
.ds-text-pink-300,.ds-hover-pink-050:hover { color: #F06292 !important; }
.ds-text-pink-400,.ds-hover-pink-050:hover { color: #EC407A !important; }
.ds-text-pink-500,.ds-hover-pink-050:hover { color: #E91E63 !important; }
.ds-text-pink-600,.ds-hover-pink-050:hover { color: #D81B60 !important; }
.ds-text-pink-700,.ds-hover-pink-050:hover { color: #C2185B !important; }
.ds-text-pink-800,.ds-hover-pink-050:hover { color: #AD1457 !important; }
.ds-text-pink-900,.ds-hover-pink-050:hover { color: #880E4F !important; }
/* Border */
.ds-border-pink-050,.ds-hover-pink-050:hover { border-color: #FCE4EC !important; }
.ds-border-pink-100,.ds-hover-pink-050:hover { border-color: #F8BBD0 !important; }
.ds-border-pink-200,.ds-hover-pink-050:hover { border-color: #F48FB1 !important; }
.ds-border-pink-300,.ds-hover-pink-050:hover { border-color: #F06292 !important; }
.ds-border-pink-400,.ds-hover-pink-050:hover { border-color: #EC407A !important; }
.ds-border-pink-500,.ds-hover-pink-050:hover { border-color: #E91E63 !important; }
.ds-border-pink-600,.ds-hover-pink-050:hover { border-color: #D81B60 !important; }
.ds-border-pink-700,.ds-hover-pink-050:hover { border-color: #C2185B !important; }
.ds-border-pink-800,.ds-hover-pink-050:hover { border-color: #AD1457 !important; }
.ds-border-pink-900,.ds-hover-pink-050:hover { border-color: #880E4F !important; }



.ds-cyan-pale,.ds-hover-cyan-pale:hover { background-color: lighten(cyan, 40) !important; color: black !important; }
.ds-cyan,.ds-cyan-500,.ds-hover-cyan:hover,.ds-hover-cyan-500:hover { background-color: cyan !important; color: black !important; }
.ds-turquoise,.ds-hover-turquoise:hover { color: turquoise; }


/* Colors */
.w3-amber,.w3-hover-amber:hover { color: #000 !important; background-color: #ffc107 !important; }
.w3-aqua,.w3-hover-aqua:hover { color: #000 !important; background-color: #00ffff !important; }
.w3-blue,.w3-hover-blue:hover { color: #fff !important; background-color: #2196f3 !important; }
.w3-light-blue,.w3-hover-light-blue:hover { color: #000 !important; background-color: #87ceeb !important; }
.w3-brown,.w3-hover-brown:hover { color: #fff !important; background-color: #795548 !important; }
.w3-cyan,.w3-hover-cyan:hover { color: #000 !important; background-color: #00bcd4 !important; }
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover { color: #fff !important; background-color: #607d8b !important; }
.w3-green,.w3-hover-green:hover { color: #fff !important; background-color: #4caf50 !important; }
.w3-light-green,.w3-hover-light-green:hover { color: #000 !important; background-color: #8bc34a !important; }
.w3-indigo,.w3-hover-indigo:hover { color: #fff !important; background-color: #3f51b5 !important; }
.w3-khaki,.w3-hover-khaki:hover { color: #000 !important; background-color: #f0e68c !important; }
.w3-lime,.w3-hover-lime:hover { color: #000 !important; background-color: #cddc39 !important; }
.w3-orange,.w3-hover-orange:hover { color: #000 !important; background-color: #ff9800 !important; }
.w3-deep-orange,.w3-hover-deep-orange:hover { color: #fff !important; background-color: #ff5722 !important; }
.w3-pink,.w3-hover-pink:hover { color: #fff !important; background-color: #e91e63 !important; }
.w3-purple,.w3-hover-purple:hover { color: #fff !important; background-color: #9c27b0 !important; }
.w3-deep-purple,.w3-hover-deep-purple:hover { color: #fff !important; background-color: #673ab7 !important; }
.w3-red,.w3-hover-red:hover { color: #fff !important; background-color: #f44336 !important; }
.w3-sand,.w3-hover-sand:hover { color: #000 !important; background-color: #fdf5e6 !important; }
.w3-teal,.w3-hover-teal:hover { color: #fff !important; background-color: #009688 !important; }
.w3-yellow,.w3-hover-yellow:hover { color: #000 !important; background-color: #ffeb3b !important; }
.w3-white,.w3-hover-white:hover { color: #000 !important; background-color: #fff !important; }
.w3-black,.w3-hover-black:hover { color: #fff !important; background-color: #000 !important; }
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover { color: #000 !important; background-color: #9e9e9e !important; }
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover { color: #000 !important; background-color: #f1f1f1 !important; }
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover { color: #fff !important; background-color: #616161 !important; }
.w3-pale-red,.w3-hover-pale-red:hover { color: #000 !important; background-color: #ffdddd !important; }
.w3-pale-green,.w3-hover-pale-green:hover { color: #000 !important; background-color: #ddffdd !important; }
.w3-pale-yellow,.w3-hover-pale-yellow:hover { color: #000 !important; background-color: #ffffcc !important; }
.w3-pale-blue,.w3-hover-pale-blue:hover { color: #000 !important; background-color: #ddffff !important; }
.w3-text-amber,.w3-hover-text-amber:hover { color: #ffc107 !important; }
.w3-text-aqua,.w3-hover-text-aqua:hover { color: #00ffff !important; }
.w3-text-blue,.w3-hover-text-blue:hover { color: #2196f3 !important; }
.w3-text-light-blue,.w3-hover-text-light-blue:hover { color: #87ceeb !important; }
.w3-text-brown,.w3-hover-text-brown:hover { color: #795548 !important; }
.w3-text-cyan,.w3-hover-text-cyan:hover { color: #00bcd4 !important; }
.w3-text-blue-grey,.w3-hover-text-blue-grey:hover,.w3-text-blue-gray,.w3-hover-text-blue-gray:hover { color: #607d8b !important; }
.w3-text-green,.w3-hover-text-green:hover { color: #4caf50 !important; }
.w3-text-light-green,.w3-hover-text-light-green:hover { color: #8bc34a !important; }
.w3-text-indigo,.w3-hover-text-indigo:hover { color: #3f51b5 !important; }
.w3-text-khaki,.w3-hover-text-khaki:hover { color: #b4aa50 !important; }
.w3-text-lime,.w3-hover-text-lime:hover { color: #cddc39 !important; }
.w3-text-orange,.w3-hover-text-orange:hover { color: #ff9800 !important; }
.w3-text-deep-orange,.w3-hover-text-deep-orange:hover { color: #ff5722 !important; }
.w3-text-pink,.w3-hover-text-pink:hover { color: #e91e63 !important; }
.w3-text-purple,.w3-hover-text-purple:hover { color: #9c27b0 !important; }
.w3-text-deep-purple,.w3-hover-text-deep-purple:hover { color: #673ab7 !important; }
.w3-text-red,.w3-hover-text-red:hover { color: #f44336 !important; }
.w3-text-sand,.w3-hover-text-sand:hover { color: #fdf5e6 !important; }
.w3-text-teal,.w3-hover-text-teal:hover { color: #009688 !important; }
.w3-text-yellow,.w3-hover-text-yellow:hover { color: #d2be0e !important; }
.w3-text-white,.w3-hover-text-white:hover { color: #fff !important; }
.w3-text-black,.w3-hover-text-black:hover { color: #000 !important; }
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover { color: #757575 !important; }
.w3-text-light-grey,.w3-hover-text-light-grey:hover,.w3-text-light-gray,.w3-hover-text-light-gray:hover { color: #f1f1f1 !important; }
.w3-text-dark-grey,.w3-hover-text-dark-grey:hover,.w3-text-dark-gray,.w3-hover-text-dark-gray:hover { color: #3a3a3a !important; }
.w3-border-amber,.w3-hover-border-amber:hover { border-color: #ffc107 !important; }
.w3-border-aqua,.w3-hover-border-aqua:hover { border-color: #00ffff !important; }
.w3-border-blue,.w3-hover-border-blue:hover { border-color: #2196f3 !important; }
.w3-border-light-blue,.w3-hover-border-light-blue:hover { border-color: #87ceeb !important; }
.w3-border-brown,.w3-hover-border-brown:hover { border-color: #795548 !important; }
.w3-border-cyan,.w3-hover-border-cyan:hover { border-color: #00bcd4 !important; }
.w3-border-blue-grey,.w3-hover-border-blue-grey:hover,.w3-border-blue-gray,.w3-hover-border-blue-gray:hover { border-color: #607d8b !important; }
.w3-border-green,.w3-hover-border-green:hover { border-color: #4caf50 !important; }
.w3-border-light-green,.w3-hover-border-light-green:hover { border-color: #8bc34a !important; }
.w3-border-indigo,.w3-hover-border-indigo:hover { border-color: #3f51b5 !important; }
.w3-border-khaki,.w3-hover-border-khaki:hover { border-color: #f0e68c !important; }
.w3-border-lime,.w3-hover-border-lime:hover { border-color: #cddc39 !important; }
.w3-border-orange,.w3-hover-border-orange:hover { border-color: #ff9800 !important; }
.w3-border-deep-orange,.w3-hover-border-deep-orange:hover { border-color: #ff5722 !important; }
.w3-border-pink,.w3-hover-border-pink:hover { border-color: #e91e63 !important; }
.w3-border-purple,.w3-hover-border-purple:hover { border-color: #9c27b0 !important; }
.w3-border-deep-purple,.w3-hover-border-deep-purple:hover { border-color: #673ab7 !important; }
.w3-border-red,.w3-hover-border-red:hover { border-color: #f44336 !important; }
.w3-border-sand,.w3-hover-border-sand:hover { border-color: #fdf5e6 !important; }
.w3-border-teal,.w3-hover-border-teal:hover { border-color: #009688 !important; }
.w3-border-yellow,.w3-hover-border-yellow:hover { border-color: #ffeb3b !important; }
.w3-border-white,.w3-hover-border-white:hover { border-color: #fff !important; }
.w3-border-black,.w3-hover-border-black:hover { border-color: #000 !important; }
.w3-border-grey,.w3-hover-border-grey:hover,.w3-border-gray,.w3-hover-border-gray:hover { border-color: #9e9e9e !important; }
.w3-border-light-grey,.w3-hover-border-light-grey:hover,.w3-border-light-gray,.w3-hover-border-light-gray:hover { border-color: #f1f1f1 !important; }
.w3-border-dark-grey,.w3-hover-border-dark-grey:hover,.w3-border-dark-gray,.w3-hover-border-dark-gray:hover { border-color: #616161 !important; }
.w3-border-pale-red,.w3-hover-border-pale-red:hover { border-color: #ffe7e7 !important; }
.w3-border-pale-green,.w3-hover-border-pale-green:hover { border-color: #e7ffe7 !important; }
.w3-border-pale-yellow,.w3-hover-border-pale-yellow:hover { border-color: #ffffcc !important; }
.w3-border-pale-blue,.w3-hover-border-pale-blue:hover { border-color: #e7ffff !important; }
